<p class="game-icons">
  <i
    class="fal fa-hand-rock uk-card uk-card-default uk-card-body uk-animation-slide-left-medium"
  ></i>
  <i
    class="fal fa-hand-paper uk-card uk-card-default uk-card-body uk-animation-slide-bottom-medium"
  ></i>
  <i
    class="fal fa-hand-scissors uk-card uk-card-default uk-card-body uk-animation-slide-right-medium"
  ></i>
</p>
<div *ngIf="!loginEOSService.connected">
  <p class="uk-margin-medium uk-text-lead">
    Welcome to
    <strong class="color-white">roshambo</strong> game created by
    <a href="{{ config.cryptolionsLink }}" target="_blank" class="home-link"
      ><strong class="color-white">Cryptolions</strong></a
    >
    team
    <br class="uk-visible@s" />
    <ng-container *ngIf="config.appName === 'roshambo-EOS-frontend-jungle'"
      >and powered on
      <strong class="color-white">EOS</strong> blockchain.</ng-container
    >
    <ng-container *ngIf="config.appName === 'roshambo-EOS-frontend-europechain'"
      >and powered by
      <a href="{{ config.euoprechainLink }}" target="_blank" class="home-link"
        ><strong class="color-white">Euoprechain</strong></a
      >.</ng-container
    >
  </p>
  <div
    uk-grid=""
    class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid"
  >
    <div class="uk-first-column">
      <a
        class="uk-button uk-button-primary tm-button-primary uk-button-large tm-button-large uk-visible@s"
        (click)="initScatter()"
        [ngStyle]="config.style.ukButtonPrimary"
        *ngIf="!loginEOSService.connected"
        >connect wallet</a
      >
    </div>
  </div>
</div>

<div *ngIf="loginEOSService.connected">
  <div class="uk-margin-medium uk-text-lead">
    Please enter oponent's account name and press
    <strong class="color-white">create</strong>.
  </div>
  <div
    class="uk-inline container-input"
    id="recentPlayers"
    *ngIf="recentPlayers.length"
  >
    <small>Recent players: </small>
    <div
      class="uk-label recetn-player"
      [ngStyle]="config.style.ukLabel"
      *ngFor="let player of recentPlayers"
      (click)="createGame(player)"
    >
      {{ player }}
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-inline container-input">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input
        class="uk-input"
        id="inp_create_game_challenger"
        type="text"
        placeholder="{{ placeholder }}"
        [(ngModel)]="challenger"
      />
    </div>
    <!--<button class="uk-button uk-button-primary" (click)="createGame(challenger)" id="btn_create">Create</button>-->
  </div>
  <button
    class="uk-button uk-button-primary"
    [ngStyle]="config.style.ukButtonPrimary"
    type="button"
    (click)="createGame(challenger)"
  >
    Create
  </button>
</div>
